/* Global Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  h1, h2 {
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  h2 {
    margin: 20px 0;
  }
  
  /* Container Styles */
  .container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align text and images */
  }
  
  /* Navbar Styles */
  nav {
    background-color: #4CAF50;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Button Styles */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button:hover {
    opacity: 1;
  }
  
  /* Input Styles */
  input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* BMI Image Styles */
  .bmi-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  